*{
    margin: 0;
    border: 0;
    font-family:  Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box ;
}
html,body{
    width: 100%;
    height: 100%;    
}
.container{
    width: 250px;
    display:flex;
    flex-direction: column;
    background-color: rgb(50, 50, 50);
    justify-content: center;
    align-items:stretch;
    /* margin-top: 10px; */
    margin: 0 auto;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
h1{
    text-align: center;
    color: lime;
}
input{
    background-color: rgb(78, 77, 77);
    color:rgb(209, 209, 209)
}

.container *{
    padding: 5px;
    margin:5px;
    border-radius: 3px;
}
#links{
    display: flex;
    justify-content: space-between;
    font-size: 9px;
}
#links a{
    color:aliceblue;
    padding: 0px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    /* font-size: 10px; */
    text-align: center;
    text-decoration: none;
}
button{
    color:rgb(78, 77, 77);
    background-color:rgb(72, 228, 0) ;
}
#signup{
    color:rgb(0, 255, 47) !important;
}
#gap{
    height: 15px;
}
button:hover{
    box-shadow: 0px 10px 10px rgba(0,0,0,0.8);
    background-color: lime;
}